<div class="menu-footer">
  <div class="menu-footer__icons">
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-basket-shopping"></i>
      <span class="menu-footer-icons-icon__label">Dépenses</span>
    </span>
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-money-bill-transfer"></i>
      <span class="menu-footer-icons-icon__label">Prélèvements</span>
    </span>
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-gear"></i>
      <span class="menu-footer-icons-icon__label">Settings</span>
    </span>
  </div>
  <div class="menu-footer__add">
    @if(plusOpen) {
    <div
      class="menu-footer-add__links"
      [ngClass]="{ 'menu-footer-add__links--fade-in-up': plusOpen }"
    >
      <button
        class="menu-footer-add-links__link"
        (click)="navigateToOutflows()"
        type="button"
      >
        <i
          class="menu-footer-add-links-link__icon fa-solid fa-money-bill-transfer"
        ></i>
        <span class="menu-footer-add-links-link__label"
          >Ajouter une sortie mensuelle</span
        >
      </button>
      <button
        class="menu-footer-add-links__link"
        (click)="navigateToMonthCreation()"
        type="button"
      >
        <i
          class="menu-footer-add-links-link__icon fa-solid fa-calendar-plus"
        ></i>
        <span class="menu-footer-add-links-link__label"
          >Créer un nouveau mois</span
        >
      </button>
    </div>
    }
    <button
      (click)="toggle()"
      class="menu-footer-add__plus"
      [ngClass]="{ 'menu-footer-add__plus--rotate': plusOpen }"
      type="button"
      aria-label="Afficher le menu de création"
    >
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>
</div>
