<div class="menu-footer">
  <div class="menu-footer__icons">
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-basket-shopping"></i>
      <span class="menu-footer-icons-icon__label">Dépenses</span>
    </span>
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-money-bill-transfer"></i>
      <span class="menu-footer-icons-icon__label">Sorties</span>
    </span>
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-gear"></i>
      <span class="menu-footer-icons-icon__label">Settings</span>
    </span>
  </div>
  <div class="menu-footer__add">
    <i class="fa-solid fa-plus"></i>
  </div>
</div>
