<div class="menu-footer">
  <div class="menu-footer__icons">
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-basket-shopping"></i>
      <span class="menu-footer-icons-icon__label">Dépenses</span>
    </span>
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-money-bill-transfer"></i>
      <span class="menu-footer-icons-icon__label">Sorties</span>
    </span>
    <span class="menu-footer-icons__icon">
      <i class="fa-solid fa-gear"></i>
      <span class="menu-footer-icons-icon__label">Settings</span>
    </span>
  </div>
  <div class="menu-footer__add">
    @if(plusOpen) {
    <button
      class="menu-footer-add__link"
      [ngClass]="{ 'menu-footer-add__link--fade-in-up': plusOpen }"
      (click)="navigateToMonthCreation()"
      type="button"
    >
      <i class="menu-footer-add-link__icon fa-solid fa-calendar-plus"></i>
      <span class="menu-footer-add-link__label">Créer un nouveau mois</span>
    </button>
    }
    <button
      (click)="openPlus()"
      class="menu-footer-add__plus"
      [ngClass]="{ 'menu-footer-add__plus--rotate': plusOpen }"
      type="button"
      aria-label="Afficher le menu de création"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
