<button
  [class]="className"
  [disabled]="disabled() || loading()"
  type="button"
  (click)="onClick($event)"
>
  @if (loading()) {
  <ng-container *ngTemplateOutlet="loader"></ng-container>
  } @else {
  <i class="fa-solid {{ icon() }}"></i>
  }
</button>

<ng-template #loader>
  <span class="icon__loader">
    <svg
      width="20"
      height="20"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <style>
        .spinner_nOfF {
          animation: spinner_qtyZ 2s cubic-bezier(0.36, 0.6, 0.31, 1) infinite;
          fill: currentColor;
        }
        .spinner_fVhf {
          animation-delay: -0.5s;
          fill: currentColor;
        }
        .spinner_piVe {
          animation-delay: -1s;
          fill: currentColor;
        }
        .spinner_MSNs {
          animation-delay: -1.5s;
          fill: currentColor;
        }
        @keyframes spinner_qtyZ {
          0% {
            r: 0;
          }
          25% {
            r: 3px;
            cx: 4px;
          }
          50% {
            r: 3px;
            cx: 12px;
          }
          75% {
            r: 3px;
            cx: 20px;
          }
          100% {
            r: 0;
            cx: 20px;
          }
        }
      </style>
      <circle class="spinner_nOfF" cx="4" cy="12" r="3" />
      <circle class="spinner_nOfF spinner_fVhf" cx="4" cy="12" r="3" />
      <circle class="spinner_nOfF spinner_piVe" cx="4" cy="12" r="3" />
      <circle class="spinner_nOfF spinner_MSNs" cx="4" cy="12" r="3" />
    </svg>
  </span>
</ng-template>
