@import "../../../styles/variables";

.icon {
    display: flex;
    flex-direction: row;
    gap: 10px;

    border: 0;
    background: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-950);
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;

    &:disabled {
        opacity: 0.5;
    }

    &--variant-default {
        background-color: var(--color-800);
    }

    &--variant-danger {
    background-color: var(--color-950);
    }

    &--size-default {
        font-size: 25px;
        height: 45px;
        width: 45px;
    }

    &--size-small {
        font-size: 15px;
        height: 30px;
        width: 30px;
    }

    &__loader {
        color: var(--color-50);
    }
}