<app-modal
  [modalOpen]="expenseDelationModalIsOpen"
  (click)="closeExpenseDelationModal($event)"
>
  <app-button
    [size]="'big'"
    [variant]="'danger'"
    [label]="'Supprimer la dépense définitivement'"
    [loading]="deleteExpenseFormIsLoading"
    (click)="deleteExpense($event)"
  ></app-button>
</app-modal>
<div
  class="expenses"
  [ngStyle]="{ 'padding-bottom': formUpdated ? '80px' : 0 }"
>
  @if(form && expensesFormArray) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="expenses-list" formArrayName="expenses">
      <div class="expenses-list__header">
        <div class="expenses-list__forecast">
          <span class="expenses-list-forecast__title"
            >Budget restant à la fin du mois :
          </span>
          <span class="expenses-list-forecast__amount">{{
            forecastBalance | currency : "EUR"
          }}</span>
        </div>
        <div class="expenses-list__filters">
          <ng-container *ngFor="let week of weekButtons">
            <button
              (click)="updateFilterState(week)"
              [ngClass]="{
                'expenses-list-filters__filter--active': filterIsActive(week)
              }"
              type="button"
              class="expenses-list-filters__filter"
            >
              <span>{{ week }}</span>
            </button>
          </ng-container>
        </div>
      </div>
      <ng-container *ngFor="let week of weeks">
        <div class="expenses-list__week">
          <div class="expenses-list__week__header">
            <h2 class="expenses-list__week-name">
              {{ week.name }}
            </h2>
            <button
              class="expenses-list__week-add"
              type="button"
              (click)="openExpensesModal(week.id)"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
            <button
              class="expenses-list__week-transfer"
              type="button"
              (click)="openTransferChoiceModal(week, $event)"
            >
              <i class="fa-solid fa-right-left"></i>
            </button>
          </div>
          <div class="expenses-list__balance">
            <span>Solde :</span>
            <app-progress-bar
              [currentValue]="getCurrentBalanceByWeekName(week.name)"
              [total]="getInitialBalanceByWeekName(week.name)"
            ></app-progress-bar>
          </div>
          @if (getExpensesFormGroupByWeekId(week.id).length === 0) {
          <app-info>Pas de dépenses à afficher 😁</app-info> } @else {
          <app-item
            *ngFor="
              let expense of getExpensesFormGroupByWeekId(week.id);
              let i = index
            "
            [formGroupName]="i"
          >
            <button
              type="button"
              [ngClass]="{
                'expenses-list-item--checked': isExpenseItemChecked(expense)
              }"
              class="expenses-list-item"
              (click)="toggleExpenseAtIndex(expense, $event)"
            >
              <span class="expenses-list-item__icon">
                <i class="fa-solid fa-basket-shopping"></i>
              </span>
              <div
                [ngClass]="{
                  'expenses-list-item__info--checked':
                    isExpenseItemChecked(expense)
                }"
                class="expenses-list-item__info"
              >
                <span class="expenses-list-item-info__label">
                  {{ expense.get("label")?.value || "Label introuvable" }}</span
                >
                <span class="expenses-list-item-info__amount"
                  >{{
                    expense.get("amount")?.value || "Somme introuvable"
                  }}€</span
                >
              </div>

              <button
                class="expenses-list-item__delete"
                type="button"
                (click)="openExpenseDelationModal(expense, $event)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </button>
          </app-item>
          }
        </div>
        <app-divider></app-divider>
      </ng-container>
    </div>
    @if(formUpdated) {
    <div class="expenses-submit">
      <app-button
        [type]="'submit'"
        [size]="'big'"
        [variant]="'danger'"
        [label]="'Sauvegarder les modifications'"
        [loading]="formIsLoading"
      ></app-button>
    </div>
    }
  </form>
  } @else { <app-info>Aucune dépense actuellement 😁</app-info> }
</div>

@if(addExpenseForm) {
<app-sliding-modal
  [isOpen]="isExpensesModalOpen"
  [canClose]="!addExpenseFormIsLoading"
  (close)="closeExpensesModal($event)"
>
  <form [formGroup]="addExpenseForm" (ngSubmit)="submitExpenseModal($event)">
    <div class="modal-container">
      <!-- week -->
      <select
        class="modal-container__select"
        formControlName="weekId"
        id="weekId"
      >
        <option disabled value="">Choisir la semaine</option>
        <option
          *ngFor="let week of weeks"
          [value]="week.id"
          (click)="$event.stopPropagation()"
        >
          {{ week.name }}
        </option>
      </select>
      <!-- label -->
      <app-input-text
        [formGroup]="addExpenseForm"
        formControlName="label"
        [required]="true"
        [placeholder]="'Libellé'"
      ></app-input-text>

      <!-- amount -->
      <app-input-number
        (click)="openNumpad(addExpenseForm.controls['amount'], $event)"
        [formGroup]="addExpenseForm"
        formControlName="amount"
        [required]="true"
        [step]="'0.01'"
        [placeholder]="'Montant'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [variant]="'danger'"
          [label]="'Ajouter cette dépense'"
          [loading]="addExpenseFormIsLoading"
          (click)="submitExpenseModal($event)"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
}
<!-- 
  ##################### NUMPAD #####################
   -->

@if(amountValueControl !== null) {
<app-sliding-modal [isOpen]="isNumpadModalOpen" (close)="closeNumpad($event)">
  <app-numpad
    [value]="amountValue"
    (submitted)="updateAmountValue($event)"
  ></app-numpad>
</app-sliding-modal>
}

<ng-template #loader>
  <span class="expenses-list-item-delete__loader">
    <app-animated-spinner [width]="20" [height]="20"></app-animated-spinner>
  </span>
</ng-template>

<!-- 
  ##################### TRANSFER MODAL #####################
   -->
@if (fromAccountTransfer || fromWeeklyBudgetTransfer) {
<app-transfer-choice
  [openMenuModal]="transferChoiceModalIsOpen"
  [fromWeeklyBudget]="fromWeeklyBudgetTransfer"
  [isLoading]="transferIsLoading"
  (toggleModal)="closeTransferChoiceModal($event)"
  (submitted)="submitTransfer($event)"
></app-transfer-choice>
}
