<div
  class="expenses"
  [ngStyle]="{ 'padding-bottom': formUpdated ? '80px' : 0 }"
>
  @if(form && expensesFormArray) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="expenses-list" formArrayName="expenses">
      <div class="expenses-list__header">
        <div class="expenses-list__forecast">
          <span class="expenses-list-forecast__title"
            >Budget restant à la fin du mois :
          </span>
          <span class="expenses-list-forecast__amount">{{
            forecastBalance | currency : "EUR"
          }}</span>
        </div>
        <div class="expenses-list__filters">
          <button
            (click)="updateFilterState('all')"
            [ngClass]="{
              'expenses-list-filters__filter--active': filterIsActive('all')
            }"
            type="button"
            class="expenses-list-filters__filter"
          >
            <i class="fa-solid fa-list"></i>
          </button>
          <button
            (click)="updateFilterState('unchecked')"
            [ngClass]="{
              'expenses-list-filters__filter--active':
                filterIsActive('unchecked')
            }"
            type="button"
            class="expenses-list-filters__filter"
          >
            <i class="fa-solid fa-square"></i>
          </button>
          <button
            (click)="updateFilterState('checked')"
            [ngClass]="{
              'expenses-list-filters__filter--active': filterIsActive('checked')
            }"
            type="button"
            class="expenses-list-filters__filter"
          >
            <i class="fa-solid fa-square-check"></i>
          </button>
        </div>
      </div>
      <ng-container *ngFor="let week of weeks">
        <div class="expenses-list__week">
          <h2 class="expenses-list__week-name">{{ week.name }}</h2>
          <div class="expenses-list__balance">
            <span>Solde :</span>
            <app-progress-bar
              [currentValue]="getCurrentBalanceByWeekName(week.name)"
              [total]="getInitialBalanceByWeekName(week.name)"
            ></app-progress-bar>
          </div>
          @if (getExpensesFormGroupByWeekId(week.id).length === 0) {
          <span class="info">Pas de dépenses pour cette semaine 😁</span> }
          @else {
          <app-item
            *ngFor="
              let expense of getExpensesFormGroupByWeekId(week.id);
              let i = index
            "
            [formGroupName]="i"
          >
            <button
              type="button"
              [ngClass]="{
                'expenses-list-item--checked': isExpenseItemChecked(expense)
              }"
              class="expenses-list-item"
              (click)="toggleExpenseAtIndex(expense, $event)"
            >
              <span class="expenses-list-item__icon">
                <i class="fa-solid fa-basket-shopping"></i>
              </span>
              <div
                [ngClass]="{
                  'expenses-list-item__info--checked':
                    isExpenseItemChecked(expense)
                }"
                class="expenses-list-item__info"
              >
                <span class="expenses-list-item-info__label">
                  {{ expense.get("label")?.value || "Label introuvable" }}</span
                >
                <span class="expenses-list-item-info__amount"
                  >{{
                    expense.get("amount")?.value || "Somme introuvable"
                  }}€</span
                >
              </div>

              <button
                class="expenses-list-item__delete"
                type="button"
                [disabled]="expenseDeletionIsLoadingByIndex(expense)"
                (click)="deleteExpense(expense, $event)"
              >
                @if(expenseDeletionIsLoadingByIndex(expense)) {
                <ng-container *ngTemplateOutlet="loader"></ng-container>
                } @else {
                <i class="fa-solid fa-trash-can"></i>
                }
              </button>
            </button>
          </app-item>
          }
        </div>
        <app-divider></app-divider>
      </ng-container>
    </div>
    @if(formUpdated) {
    <div class="expenses-submit">
      <app-button
        [type]="'submit'"
        [size]="'big'"
        [variant]="'danger'"
        [label]="'Sauvegarder les modifications'"
        [loading]="formIsLoading"
      ></app-button>
    </div>
    }
  </form>
  } @else { <span class="info">Aucune dépense actuellement 😁</span> }
</div>

@if(addExpenseForm) {
<app-sliding-modal
  [isOpen]="isExpensesModalOpen"
  [canClose]="!addExpenseFormIsLoading"
  (close)="closeExpensesModal()"
>
  <form [formGroup]="addExpenseForm" (ngSubmit)="submitExpenseModal($event)">
    <div class="modal-container">
      <!-- week -->
      <select
        class="modal-container__select"
        formControlName="weekId"
        id="weekId"
      >
        <option disabled value="">Choisir la semaine</option>
        <option *ngFor="let week of weeks" [value]="week.id">
          {{ week.name }}
        </option>
      </select>
      <!-- label -->
      <app-input-text
        [formGroup]="addExpenseForm"
        formControlName="label"
        [required]="true"
      ></app-input-text>

      <!-- amount -->
      <app-input-number
        [formGroup]="addExpenseForm"
        formControlName="amount"
        [required]="true"
        [step]="'0.01'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [variant]="'danger'"
          [label]="'Ajouter cette sortie mensuelle'"
          [loading]="addExpenseFormIsLoading"
          (click)="submitExpenseModal($event)"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
}

<ng-template #loader>
  <span class="expenses-list-item-delete__loader">
    <app-animated-spinner [width]="20" [height]="20"></app-animated-spinner>
  </span>
</ng-template>
