<app-modal
  [modalOpen]="outflowDelationModalIsOpen"
  (click)="closeOutflowDelationModal($event)"
>
  <app-button
    [size]="'big'"
    [variant]="'danger'"
    [label]="'Supprimer la sortie définitivement'"
    [loading]="deleteOutflowFormIsLoading"
    (click)="deleteOutflow($event)"
  ></app-button>
</app-modal>

<div
  class="outflows"
  [ngStyle]="{ 'padding-bottom': formUpdated ? '80px' : 0 }"
>
  @if(form && outflowsFormArray.controls.length) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="outflows-list">
      <div class="outflows-list__header">
        <app-input-number
          class="outflows-list-header__amount"
          [formGroup]="form"
          (click)="openNumpad(form.controls['currentBalance'], $event)"
          formControlName="currentBalance"
          [required]="true"
          [placeholder]="'Solde actuel'"
          [size]="'big'"
          [step]="'0.01'"
        ></app-input-number>
        <button
          class="outflows-list-header__transfer"
          type="button"
          (click)="openTransferChoiceModal($event)"
        >
          <i class="fa-solid fa-right-left"></i>
        </button>
      </div>
      <div class="outflows-list" formArrayName="outflows">
        <app-item
          *ngFor="let outflow of outflowsFormArray.controls; let i = index"
          [formGroupName]="i"
        >
          <button
            type="button"
            [ngClass]="{
              'outflows-list-item--checked': isOutflowItemChecked(i)
            }"
            class="outflows-list-item"
            (click)="toggleOutflowAtIndex(i, $event)"
          >
            <span class="outflows-list-item__icon">
              <i class="fa-solid fa-money-bill-transfer"></i>
            </span>
            <div
              [ngClass]="{
                'outflows-list-item__info--checked': isOutflowItemChecked(i)
              }"
              class="outflows-list-item__info"
            >
              <span class="outflows-list-item-info__label">{{
                outflow.get("label")?.value || "Label introuvable"
              }}</span>
              <span class="outflows-list-item-info__amount"
                >{{
                  outflow.get("amount")?.value || "Somme introuvable"
                }}€</span
              >
            </div>

            <button
              class="outflows-list-item__delete"
              type="button"
              (click)="openOutflowDelationModal(outflow, $event)"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </button>
        </app-item>
      </div>
    </div>
    @if(formUpdated) {
    <div class="outflows-submit">
      <app-button
        [type]="'submit'"
        [size]="'big'"
        [variant]="'danger'"
        [label]="'Sauvegarder les modifications'"
        [loading]="formIsLoading"
      ></app-button>
    </div>
    }
  </form>
  }
</div>

@if(addOutflowForm) {
<app-sliding-modal
  [isOpen]="isOutflowsModalOpen"
  [canClose]="!addOutflowFormIsLoading"
  (close)="closeOutflowsModal()"
>
  <form [formGroup]="addOutflowForm" (ngSubmit)="submitOutflowModal($event)">
    <div class="modal-container">
      <!-- label -->
      <app-input-text
        [formGroup]="addOutflowForm"
        formControlName="label"
        [required]="true"
        [placeholder]="'Libellé'"
      ></app-input-text>

      <!-- amount -->
      <app-input-number
        (click)="openNumpad(addOutflowForm.controls['amount'], $event)"
        [formGroup]="addOutflowForm"
        formControlName="amount"
        [required]="true"
        [step]="'0.01'"
        [placeholder]="'Montant'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [variant]="'danger'"
          [label]="'Ajouter cette sortie mensuelle'"
          [loading]="addOutflowFormIsLoading"
          (click)="submitOutflowModal($event)"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
} @if(amountValueControl !== null) {
<app-sliding-modal [isOpen]="isNumpadModalOpen" (close)="closeNumpad($event)">
  <app-numpad
    [value]="amountValue"
    (submitted)="updateAmountValue($event)"
  ></app-numpad>
</app-sliding-modal>
}

<ng-template #loader>
  <span class="outflows-list-item-delete__loader">
    <app-animated-spinner [width]="20" [height]="20"></app-animated-spinner>
  </span>
</ng-template>

<!-- 
  ##################### TRANSFER MODAL #####################
   -->
@if (fromAccountTransfer || fromWeeklyBudgetTransfer) {
<app-transfer-choice
  [openMenuModal]="transferChoiceModalIsOpen"
  [fromAccount]="fromAccountTransfer"
  [isLoading]="transferIsLoading"
  (toggleModal)="closeTransferChoiceModal($event)"
  (submitted)="submitTransfer($event)"
></app-transfer-choice>
}
