<div class="outflows">
  @if(form && outflowsFormArray.controls.length) {
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="outflows-list">
      <app-input-number
        [formGroup]="form"
        formControlName="currentBalance"
        [required]="true"
        [placeholder]="'Solde actuel'"
        [size]="'big'"
        [step]="'0.01'"
      ></app-input-number>
      <div class="outflows-list" formArrayName="outflows">
        <app-item
          *ngFor="let outflow of outflowsFormArray.controls; let i = index"
          [formGroupName]="i"
        >
          <button
            type="button"
            [ngClass]="{
              'outflows-list-item--checked': isOutflowItemChecked(i)
            }"
            class="outflows-list-item"
            (click)="toggleOutflowAtIndex(i, $event)"
          >
            <span class="outflows-list-item__icon">
              <i class="fa-solid fa-money-bill-transfer"></i>
            </span>
            <div
              [ngClass]="{
                'outflows-list-item__info--checked': isOutflowItemChecked(i)
              }"
              class="outflows-list-item__info"
            >
              <span class="outflows-list-item-info__label">{{
                outflow.get("label")?.value || "Label introuvable"
              }}</span>
              <span class="outflows-list-item-info__amount"
                >{{
                  outflow.get("amount")?.value || "Somme introuvable"
                }}€</span
              >
            </div>

            <button
              class="outflows-list-item__delete"
              type="button"
              [disabled]="outflowDeletionIsLoadingByIndex(i)"
              (click)="deleteOutflowByIndex(i, $event)"
            >
              @if(outflowDeletionIsLoadingByIndex(i)) {
              <ng-container *ngTemplateOutlet="loader"></ng-container>
              } @else {
              <i class="fa-solid fa-trash-can"></i>
              }
            </button>
          </button>
        </app-item>
      </div>
    </div>
    @if(formUpdated) {
    <div class="outflows-submit">
      <app-button
        [type]="'submit'"
        [size]="'big'"
        [variant]="'danger'"
        [label]="'Sauvegarder les modifications'"
        [loading]="formIsLoading"
      ></app-button>
    </div>
    }
  </form>
  }
</div>

@if(addOutflowForm) {
<app-sliding-modal
  [isOpen]="isOutflowsModalOpen"
  [canClose]="!addOutflowFormIsLoading"
  (close)="closeOutflowsModal()"
>
  <form [formGroup]="addOutflowForm" (ngSubmit)="submitOutflowModal($event)">
    <div class="modal-container">
      <!-- label -->
      <app-input-text
        [formGroup]="addOutflowForm"
        formControlName="label"
        [required]="true"
      ></app-input-text>

      <!-- amount -->
      <app-input-number
        [formGroup]="addOutflowForm"
        formControlName="amount"
        [required]="true"
        [step]="'0.01'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [variant]="'danger'"
          [label]="'Ajouter cette sortie mensuelle'"
          [loading]="addOutflowFormIsLoading"
          (click)="submitOutflowModal($event)"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
}

<ng-template #loader>
  <span class="outflows-list-item-delete__loader">
    <app-animated-spinner [width]="20" [height]="20"></app-animated-spinner>
  </span>
</ng-template>
