@import "../../../styles/variables";
@import "../../../styles/typo";
@import "../../../styles/tags";

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;   
    margin-top: 60px;
    padding-top: 5px;
    padding-bottom: 80px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    gap: 10px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        app-progress-bar {
            flex: 1;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        app-progress-bar {
            flex: 1;
        }
    }
}

.project-info {
    &__label {
        font-size: var(--text-5);
        font-weight: bold;
    }
}

.project-header {
    &__name {
        @extend %ellipsis;
        @extend %title-3;
  
        white-space: nowrap;
        margin: 0;
    }
    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}

.add-project {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    width: 50px;
  
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: var(--color-950);
    font-size: 30px;
    color: white;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 19;
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.input {
    @extend %input;
}
