<app-header-back-button></app-header-back-button>
<div class="content">
  @if(!hasProjects()) {
  <app-tips>
    <p>{{ tipsLabel }}</p>
    <img width="50%" [src]="tipsImage" alt="" />
  </app-tips>
  } @else {
  <ng-container *ngFor="let project of projects()">
    <app-card>
      <div class="project">
        <div class="project__header">
          <span class="project-header__name">{{ project.name }}</span>
          <span class="project-header__actions">
            <!-- roll back -->
            <app-button-icon
              icon="fa-arrow-rotate-left"
              size="small"
              [disabled]="!project.canRollback"
              [loading]="
                isLoadingFor('rollback', project.id) ||
                isLoadingFor('reApply', project.id)
              "
              (click)="rollback($event, project)"
            ></app-button-icon>
            <!-- re-apply -->
            <app-button-icon
              icon="fa-arrow-rotate-right"
              size="small"
              [disabled]="!project.canReApply"
              [loading]="
                isLoadingFor('reApply', project.id) ||
                isLoadingFor('rollback', project.id)
              "
              (click)="reApply($event, project)"
            ></app-button-icon>
            <!-- add amount -->
            <app-button-icon
              icon="fa-plus"
              size="small"
              [loading]="isLoading"
              (click)="addAmountTo(project)"
            ></app-button-icon>
            <!-- edit project -->
            <app-button-icon
              icon="fa-edit"
              size="small"
              (click)="openEditModal(project)"
            ></app-button-icon>
            <!-- remove project -->
            <app-button-icon
              icon="fa-trash-can"
              size="small"
              [loading]="isLoading"
              (click)="openRemoveModalFor(project)"
            ></app-button-icon>
            <!-- finish project -->
            <app-button-icon
              icon="fa-flag-checkered"
              size="small"
              [disabled]="!project.canFinish"
              [loading]="isLoadingFor('finish', project.id)"
              (click)="finishProject($event, project)"
            ></app-button-icon>
          </span>
        </div>
        <div class="project__info">
          <span class="project-info__label">{{ loaderLabel }}</span>
          <app-progress-bar
            [currentValue]="project.leftAmount"
            [total]="project.target"
          ></app-progress-bar>
        </div>
      </div>
    </app-card>
  </ng-container>
  }
  <button class="add-project" (click)="openCreateModal()">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>

<!-- creation modal -->
@if (modalIsOpen('creation')) {
<app-sliding-modal
  [isOpen]="modalIsOpen('creation')"
  (close)="closeModal($event, 'creation')"
>
  <div class="modal-container">
    <!-- project name -->
    <input
      class="input"
      type="text"
      [value]="creatingProject()?.name"
      (input)="updateCreatingProjectName($event)"
      [required]="true"
      placeholder="Nom"
    />
    <!-- project target -->
    <input
      class="input"
      type="number"
      step="0.01"
      [required]="true"
      [value]="creatingProject()?.target"
      (click)="openModal('numpad-create')"
      inputmode="none"
      autocomplete="off"
      readonly
    />

    <app-button
      [variant]="'danger'"
      [label]="createButtonLabel"
      [loading]="isLoading"
      (click)="createProject($event)"
    ></app-button>
  </div>
</app-sliding-modal>
}
<!-- update modal -->
@if (modalIsOpen('update')) {
<app-sliding-modal
  [isOpen]="modalIsOpen('update')"
  (close)="closeModal($event, 'update')"
>
  <div class="modal-container">
    <!-- project name -->
    <input
      class="input"
      type="text"
      [value]="updatingProject()?.name"
      (input)="updateUpdatingProjectName($event)"
      [required]="true"
      placeholder="Nom"
    />
    <!-- project target -->
    <input
      class="input"
      type="number"
      step="0.01"
      [required]="true"
      [value]="updatingProject()?.target"
      (click)="openModal('numpad-update')"
      inputmode="none"
      autocomplete="off"
      readonly
    />

    <app-button
      [variant]="'danger'"
      [label]="updateButtonLabel"
      [loading]="isLoading"
      (click)="updateProject($event)"
    ></app-button>
  </div>
</app-sliding-modal>
}
<!-- add-amount modal -->
@if (modalIsOpen('add-amount')) {
<app-sliding-modal
  [isOpen]="modalIsOpen('add-amount')"
  (close)="closeModal($event, 'add-amount')"
>
  <div class="modal-container">
    <!-- amount -->
    <input
      class="input"
      type="number"
      step="0.01"
      [required]="true"
      [value]="addAmount()"
      (click)="openModal('numpad-add-amount')"
      inputmode="none"
      autocomplete="off"
      readonly
    />

    <app-button
      [variant]="'danger'"
      [label]="'Ajouter ce montant'"
      [loading]="isLoading"
      (click)="addAmountToProject($event)"
    ></app-button>
  </div>
</app-sliding-modal>
}
<!-- create numpad -->
@if(modalIsOpen('numpad-create')) {
<app-sliding-modal
  [isOpen]="modalIsOpen('numpad-create')"
  (close)="closeModal($event, 'numpad-create')"
>
  <app-numpad
    [value]="creatingProject()?.target?.toString() ?? '0'"
    (submitted)="updateCreatingProjectTarget($event)"
  ></app-numpad>
</app-sliding-modal>
}
<!-- update numpad -->
@if(modalIsOpen('numpad-update')) {
<app-sliding-modal
  [isOpen]="modalIsOpen('numpad-update')"
  (close)="closeModal($event, 'numpad-update')"
>
  <app-numpad
    [value]="updatingProject()?.target?.toString() ?? '0'"
    (submitted)="updateUpdatingProjectTarget($event)"
  ></app-numpad>
</app-sliding-modal>
}
<!-- add amount numpad -->
@if(modalIsOpen('numpad-add-amount')) {
<app-sliding-modal
  [isOpen]="modalIsOpen('numpad-add-amount')"
  (close)="closeModal($event, 'numpad-add-amount')"
>
  <app-numpad
    [value]="'0'"
    (submitted)="updateAddAmountValue($event)"
  ></app-numpad>
</app-sliding-modal>
}
<!-- remove project modal -->
@if(modalIsOpen('remove')) {
<app-modal
  [modalOpen]="modalIsOpen('remove')"
  (click)="closeModal($event, 'remove')"
>
  <app-button
    [size]="'big'"
    [variant]="'danger'"
    [label]="removeLabel"
    [loading]="isLoading"
    (click)="removeProject($event)"
  ></app-button>
</app-modal>
}
