<app-header-back-button></app-header-back-button>

<div class="content">
  @if(templates.length === 0) {
  <app-tips>
    <p>Vous n'avez pas encore crée de template 🙂</p>
    <img width="50%" src="info/no-default-template.png" alt="" />
  </app-tips>
  } @else {
  <section class="content__template" *ngFor="let template of templates">
    <div class="content-template__content">
      <div class="content-template-content__title">
        {{ template.name }}&nbsp;<span
          class="content-template-content-title__infos"
          >{{ getDefaultInfo(template) }}</span
        >
      </div>
      <app-button-icon
        icon="fa-eye"
        size="small"
        (click)="goToTemplatePage(template.id, $event)"
      ></app-button-icon>
    </div>
    <app-divider></app-divider>
  </section>
  }
</div>
