@import "../../../../styles/variables";
@import "../../../../styles/input";

.input-month {
  &__input {
    @extend %input;

    position: relative;
    height: 35px;

    &[type="month"]::-webkit-inner-spin-button,
    &[type="month"]::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }

  &__error-message {
    @extend %text-7;

    color: red;
    margin-top: 4px;
  }
}
