@if(!dataLoaded) {
<app-loader></app-loader>
} @else {
<app-header-back-button></app-header-back-button>
<div class="archived-months">
  @if(hasArchivedMonths()) {
  <app-item *ngFor="let month of getArchivedMonths(); let i = index">
    <app-modal [modalOpen]="openMenuModal" (click)="toggle($event)">
      <app-button
        [size]="'big'"
        [variant]="'danger'"
        [label]="'Supprimer le mois définitivement'"
        [loading]="deleteMonthLoading"
        (click)="deleteMonth(month, $event)"
      ></app-button>
    </app-modal>
    <button type="button" class="archived-months-list-item">
      <span class="archived-months-list-item__icon">
        <i class="fa-solid fa-calendar"></i>
      </span>
      <div class="archived-months-list-item__info">
        <span class="archived-months-list-item-info__label">
          {{ getMonthDate(month) | dateNormalize }}</span
        >
      </div>

      <button
        class="archived-months-list-item__unarchive"
        type="button"
        [disabled]="isUnarchiveMonthLoadingById(month.id)"
        (click)="unarchiveMonth(month)"
      >
        @if(isUnarchiveMonthLoadingById(month.id)) {
        <span class="archived-months-list-item-unarchive__loader">
          <app-animated-spinner
            [width]="20"
            [height]="20"
          ></app-animated-spinner>
        </span>
        } @else {
        <i class="fa-solid fa-box-open"></i>
        }
      </button>
      <button
        class="archived-months-list-item__delete"
        type="button"
        (click)="toggle($event)"
      >
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </button>
  </app-item>
  } @else {
  <app-tips>
    <p>Vous n'avez pas encore archivé de mois 🙂</p>
    <img width="50%" src="info/no-archives-yet.png" alt="" />
  </app-tips>
  }
</div>
}

<!-- désarchiver <i class="fa-solid fa-box-open"></i> -->
<!-- supprimer <i class="fa-solid fa-trash-can"></i> -->
