@import "../../../styles/variables";
@import "../../../styles/typo";
@import "../../../styles/tags";

.content {
    margin-top: 40px;
    padding: 5px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.subtotal {
  @extend %text-5;

  color: var(--color-800);
}

.template {
  &__infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  &__details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.template-infos {
  &__default {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.title {
  @extend %title-10;
    
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.total {
  @extend %text-7;
  margin: 10px 0;
}

.subtitle {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &__infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
}

.subtitle-infos {
  &__title {
    @extend %title-3;
  }

  &__infos {
    @extend %text-7;
  }
}

.outflows {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;

        &--hide {
          display: none;
        }
    }
}

.outflows-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outflows-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  border: none;
  background: none;
  padding: 0;

  &--checked {
    opacity: 0.3;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-950);
    font-size: 20px;
    color: var(--color-100);
  }

  &__info {
    &--checked {
      color: var(--dark-100);
      text-decoration: line-through;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  &__delete {
    &:disabled {
      opacity: 0.5;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-900);
    color: var(--color-100);
    border: 3px solid var(--color-100);
  }
}

.outflows-list-item-info {
  &__label {
    @extend %text-7;
  }
  &__amount {
    @extend %text-10;
    font-weight: bold;
  }
}

.outflows-list-item-delete {
  &__loader {
    color: var(--color-50);
  }
}

.input {
  @extend %input;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 10px;   
    justify-content: center;
    align-items: center;

    app-button {
      &:last-child {
        flex: 1;
      }
    }
  }
}

.month-creation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  height: 80%;

  &__step {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--step1 {
      flex-direction: row;
    }

    &--step_debits {
      padding: 20px;
      border: var(--color-800) 2px solid;
      border-radius: 20px;
      box-sizing: content-box;
    }

    &--step3 {
      padding-bottom: 40px;
    }
  }

  &__footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
    width: 100%;
    padding: 10px 20px;
    bottom: 0;
    left: 0;
    background: var(--color-800);
    box-shadow: 0 6px 20px 0;
    border-radius: var(--radius-100) var(--radius-100) 0 0;
    box-sizing: border-box;
  }
}

.rotate {
  color: var(--color-800);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.month-creation-footer-actions {
  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-100);
    font-size: 20px;
    color: var(--color-900);
    border: 3px solid var(--color-900);

    &:disabled {
      opacity: 0.3;
    }
  }
}

.month-creation-footer {
  &__forecast-balance {
    border-radius: var(--radius-50);
    background-color: var(--light-60);
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: var(--text-7);
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    app-button {
      &:last-child {
        flex: 1;
      }
    }
  }
}