@import "../../../styles/variables";
@import "../../../styles/typo";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: var(--radius-50);

  background-color: var(--color-500);

  width: 100%;
  height: 56px;

  &__label {
    @extend %title-3;

    color: var(--color-50);
  }
}
