<app-modal
  [modalOpen]="outflowDelationModalIsOpen"
  (click)="closeOutflowDelationModal($event)"
>
  <app-button
    [size]="'big'"
    [variant]="'danger'"
    [label]="'Supprimer la sortie définitivement'"
    [loading]="removeIsLoading"
    (click)="removeOutflow($event)"
  ></app-button>
</app-modal>

<app-header-back-button></app-header-back-button>
<div class="content">
  @if(!outflows()) {
  <app-tips>
    <p>Vous n'avez pas encore crée de sorties annuelles 🙂</p>
    <img width="70%" src="info/no-yearly-outflows-yet.png" alt="" />
  </app-tips>
  } @else {
  <ng-container *ngFor="let month of months">
    <section class="outflows__month">
      <div class="outflows-month__title">
        <span>{{ month.label }}</span>
        <app-button-icon
          icon="fa-plus"
          size="small"
          (click)="addOutflowToMonth(month.month, $event)"
        ></app-button-icon>
      </div>
      <div class="outflows__list">
        @if (getOutflowsForMonth(month.month).length === 0) {
        <app-tips>
          <p>Aucune sortie annuelle pour le moment 🙂</p>
          <img width="70%" src="info/no-yearly-outflows-yet.png" alt="" />
        </app-tips>
        } @else {
        <app-item
          *ngFor="
            let outflow of getOutflowsForMonth(month.month);
            let i = index
          "
        >
          <button type="button" class="outflows-list-item">
            <span class="outflows-list-item__icon">
              <i class="fa-solid fa-calendar-days"></i>
            </span>
            <div class="outflows-list-item__info">
              <span class="outflows-list-item-info__label">
                {{ outflow.label }}</span
              >
              <span class="outflows-list-item-info__amount">{{
                outflow.amount | currency : "EUR"
              }}</span>
            </div>

            <button
              class="outflows-list-item__delete"
              type="button"
              (click)="openOutflowDelationModal(outflow, $event)"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </button>
        </app-item>
        }
      </div>
    </section>
    <app-divider></app-divider>
  </ng-container>
  }
</div>

<div class="month-creation__footer">
  <div class="month-creation-footer__actions">
    <span class="month-creation-footer__forecast-balance"
      >Total par mois :
      <strong>{{ totalAmountByMonth | currency : "EUR" }}</strong></span
    >
  </div>
</div>

<!-- 
  ##################### ADD YEARLY OUTFLOW #####################
   -->
@if(addOutflowForm) {
<app-sliding-modal
  [isOpen]="isOutflowsModalOpen"
  [canClose]="!addOutflowFormIsLoading"
  (close)="closeOutflowsModal()"
>
  <form [formGroup]="addOutflowForm" (ngSubmit)="submitOutflowModal($event)">
    <div class="modal-container">
      <!-- label -->
      <app-input-text
        [formGroup]="addOutflowForm"
        formControlName="label"
        [required]="true"
        [placeholder]="'Libellé'"
      ></app-input-text>

      <!-- amount -->
      <app-input-number
        (click)="openNumpad(addOutflowForm.controls['amount'], $event)"
        [formGroup]="addOutflowForm"
        formControlName="amount"
        [required]="true"
        [step]="'0.01'"
        [placeholder]="'Montant'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [variant]="'danger'"
          [label]="'Ajouter cette sortie annuelle'"
          [loading]="addOutflowFormIsLoading"
          (click)="submitOutflowModal($event)"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
} @if(amountValueControl !== null) {
<app-sliding-modal [isOpen]="isNumpadModalOpen" (close)="closeNumpad($event)">
  <app-numpad
    [value]="amountValue"
    (submitted)="updateAmountValue($event)"
  ></app-numpad>
</app-sliding-modal>
}
