<app-modal
  [modalOpen]="outflowDelationModalIsOpen"
  (click)="closeOutflowDelationModal($event)"
>
  <app-button
    [size]="'big'"
    [variant]="'danger'"
    [label]="'Supprimer la sortie définitivement'"
    [loading]="removeIsLoading"
    (click)="removeOutflow($event)"
  ></app-button>
</app-modal>

<div class="header">
  <button type="button" (click)="backToHome()">
    <i class="fa-solid fa-circle-xmark"></i>
  </button>
</div>
<div class="content">
  @if(!outflows()) {
  <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
  } @else {

  <section class="outflows__month">
    <div class="outflows-month__title">Janvier</div>
    <div class="outflows__list">
      @if (getOutflowsForMonth(1).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(1); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Février</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(2).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(2); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Mars</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(3).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(3); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Avril</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(4).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(4); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Mai</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(5).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(5); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Juin</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(6).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(6); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Juillet</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(7).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(7); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Août</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(8).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(8); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Septembre</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(9).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(9); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Octobre</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(10).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(10); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Novembre</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(11).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(11); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  <app-divider></app-divider>
  <section class="outflows__month">
    <div class="outflows-month__title">Décembre</div>
    <div class="outflows-list">
      @if (getOutflowsForMonth(12).length === 0) {
      <app-info>Aucune sortie annuelle pour le moment 😁</app-info>
      } @else {
      <app-item *ngFor="let outflow of getOutflowsForMonth(12); let i = index">
        <button type="button" class="outflows-list-item">
          <span class="outflows-list-item__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="outflows-list-item__info">
            <span class="outflows-list-item-info__label">
              {{ outflow.label }}</span
            >
            <span class="outflows-list-item-info__amount">{{
              outflow.amount | currency : "EUR"
            }}</span>
          </div>

          <button
            class="outflows-list-item__delete"
            type="button"
            (click)="openOutflowDelationModal(outflow, $event)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </button>
      </app-item>
      }
    </div>
  </section>
  }
</div>
