<app-header-back-button></app-header-back-button> @if (displayLoader) {
<app-loader></app-loader> } @else {
<div class="menu">
  @if(current) {
  <div class="menu__category">
    <div class="menu-category__title menu-category__title--capitalize">
      <span>{{ currentMonthDate | dateNormalize }}</span>
    </div>
    <div class="menu-category__actions">
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-basket-shopping"
          (click)="navigateToExpenses($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Ajouter une dépense</span
        >
      </div>
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-money-bill-transfer"
          (click)="navigateToOutflows($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Ajouter une sortie mensuelle</span
        >
      </div>
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-box-archive"
          [variant]="'danger'"
          [loading]="archiveLoading"
          (click)="toggleArchiveCurrentMonthModal($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Archiver le mois</span
        >
      </div>
    </div>
  </div>
  }
  <div class="menu__category">
    <div class="menu-category__title">
      <span>Tous les mois</span>
    </div>
    <div class="menu-category__actions">
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-calendar-plus"
          [variant]="'danger'"
          (click)="navigateToMonthCreation()"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Créer un nouveau mois</span
        >
      </div>
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-box-archive"
          (click)="navigateToArchivedMonths($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Accéder aux mois archivés</span
        >
      </div>
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-shapes"
          (click)="navigateToMonthlyTemplates($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Gérer les templates</span
        >
      </div>
    </div>
  </div>
  <div class="menu__category">
    <div class="menu-category__title">
      <span>Gestion générale</span>
    </div>
    <div class="menu-category__actions">
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-calendar-days"
          (click)="navigateToYearlyOutlfows($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label"
          >Sorties annuelles</span
        >
      </div>
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-piggy-bank"
          [disabled]="true"
        ></app-button-icon>
        <span class="menu-category-actions-action__label">Économies</span>
      </div>
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-file-invoice-dollar"
          (click)="navigateToProject('refund', $event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label">Remboursements</span>
      </div>
    </div>
  </div>
  <div class="menu__category">
    <div class="menu-category__title">
      <span>Settings</span>
    </div>
    <div class="menu-category__actions">
      <div class="menu-category-actions__action">
        <app-button-icon
          icon="fa-right-from-bracket"
          [variant]="'danger'"
          (click)="logout($event)"
        ></app-button-icon>
        <span class="menu-category-actions-action__label">Se déconnecter</span>
      </div>
    </div>
  </div>
</div>
<app-modal
  [modalOpen]="confirmArchiveModalIsOpen"
  (click)="toggleArchiveCurrentMonthModal($event)"
>
  <app-button
    [type]="'submit'"
    [size]="'big'"
    [variant]="'danger'"
    [label]="'Archiver le mois'"
    [loading]="archiveLoading"
    (click)="archiveCurrentMonth($event)"
  ></app-button>
</app-modal>
}
