@import "../../../styles/typo";

.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;

  &__info {
    @extend %text-5;
    position: absolute;
    padding: 0 10px;
  }

  &__fill {
    height: 100%;
    box-sizing: border-box;
    transition: width 0.4s ease;

    &--default {
      background-color: #4caf50;
    }

    &--danger {
      background-color: #f44336;
    }
  }
}
