%font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
%title-3 {
  font-size: var(--title-3);
  font-weight: bold;
}
%title-20 {
  font-size: var(--title-20);
  font-weight: bold;
}
%title-30 {
  font-size: var(--title-30);
  font-weight: bold;
}
%text-5 {
  font-size: var(--text-5);
}
%text-10 {
  font-size: var(--text-10);
}
