/* You can add global styles to this file, and also import other style files */
:root {
  // colors
  --color-50: #fff3ff;
  --color-100: #fde6ff;
  --color-200: #fdccff;
  --color-300: #fea3ff;
  --color-400: #ff6dff;
  --color-500: #f942ff; // main
  --color-600: #e116e3;
  --color-700: #bd0ebc;
  --color-800: #9a0e97;
  --color-900: #7e1179;
  --color-950: #550052;
  // radius
  --radius-50: 16px;
  // typo
  --text-5: 10px;
  --title-3: 18px;
}
