@import "../../../styles/variables";
@import "../../../styles/typo";

.tips-container {
  padding-top: 40px;  
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  background: white;

  button {
    @extend %text-30;

    border: 0;
    background: none;
    margin: none;
    color: var(--color-950);
  }
}

.month-creation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 40px;
  padding: 5px;
  padding-bottom: 80px;
  box-sizing: border-box;

  &__step {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--step1 {
      flex-direction: row;
    }

    &--step_debits {
      padding: 20px;
      border: var(--color-800) 2px solid;
      border-radius: 20px;
      box-sizing: content-box;
    }

    &--step3 {
      padding-bottom: 40px;
    }
  }

  &__footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
    width: 100%;
    padding: 10px 20px;
    bottom: 0;
    left: 0;
    background: var(--color-800);
    box-shadow: 0 6px 20px 0;
    border-radius: var(--radius-100) var(--radius-100) 0 0;
    box-sizing: border-box;
  }
}

.month-creation-footer-actions {
  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-100);
    font-size: 20px;
    color: var(--color-900);
    border: 3px solid var(--color-900);
  }
}

.month-creation-footer {
  &__forecast-balance {
    border-radius: var(--radius-50);
    background-color: var(--light-60);
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: var(--text-7);
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    app-button {
      &:last-child {
        flex: 1;
      }
    }
  }
}

.month-creation-step {
  &__info {
    background: var(--color-100);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    color: var(--dark-100);
    text-align: center;
  }

  &__add-outflow {
    display: none;
    position: sticky;
    top: -4px;
    height: 72px;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.month-creation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-950);
    font-size: 20px;
    color: var(--color-100);
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-100);
    font-size: 20px;
    color: var(--color-900);
    border: 3px solid var(--color-900);
  }

  &__delete {
    &:disabled {
      opacity: 0.5;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--color-900);
    color: var(--color-100);
    border: 3px solid var(--color-100);
  }
}

.month-creation-item-info {
  &__label {
    @extend %text-7;
  }
  &__amount {
    @extend %text-10;

    font-weight: bold;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

    app-button {
      &:last-child {
        flex: 1;
      }
    }
  }
}

.month-creation-step-info {
  &__total {
    @extend %text-7;
  }
  &__link {
    @extend %text-7;

    color: var(--color-800);
  }
}