@if(form !== undefined) {
<form class="month-creation" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- 
    ##################### STEP 1 #####################
     -->
  <div class="month-creation__step month-creation__step--step1">
    <!-- month date -->
    <app-input-month
      [formGroup]="form"
      formControlName="month"
      [required]="true"
      [placeholder]="'Mois'"
      [min]="(newMonth.month | date : 'yyyy-MM') || ''"
    ></app-input-month>
    <!-- month starting balance -->
    <app-input-number
      [formGroup]="form"
      formControlName="startingBalance"
      [required]="true"
      [placeholder]="'Solde initial'"
      [step]="'0.01'"
    ></app-input-number>
  </div>
  <!-- 
  ##################### STEP 2 #####################
   -->
  <div
    class="month-creation__step month-creation__step--step2"
    formArrayName="outflows"
  >
    <app-item
      *ngFor="let outflow of outflows.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="month-creation-item">
        <span class="month-creation-item__icon">
          <i class="fa-solid fa-money-bill-transfer"></i>
        </span>
        <div class="month-creation-item__info">
          <span class="month-creation-item-info__label">{{
            outflow.get("label")?.value
          }}</span>
          <span class="month-creation-item-info__amount"
            >{{ outflow.get("amount")?.value }}€</span
          >
        </div>

        <button
          class="month-creation-item__edit"
          type="button"
          (click)="openOutflowsModal(i)"
        >
          <i class="fa-solid fa-pen-fancy"></i>
        </button>
      </div>
    </app-item>
  </div>

  <!-- 
  ##################### STEP 3 #####################
   -->

  <div
    class="month-creation__step month-creation__step--step3"
    formArrayName="weeklyBudgets"
  >
    <app-item
      *ngFor="let weeklyBudget of weeklyBudgets.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="month-creation-item">
        <span class="month-creation-item__icon">
          <i class="fa-solid fa-basket-shopping"></i>
        </span>
        <div class="month-creation-item__info">
          <span class="month-creation-item-info__label">{{
            weeklyBudget.get("name")?.value
          }}</span>
          <span class="month-creation-item-info__amount"
            >{{ weeklyBudget.get("initialBalance")?.value }}€</span
          >
        </div>

        <button
          class="month-creation-item__edit"
          type="button"
          (click)="openWeeklyBudgetsModal(i)"
        >
          <i class="fa-solid fa-pen-fancy"></i>
        </button>
      </div>
    </app-item>
  </div>

  <div class="month-creation__footer">
    <app-button
      [type]="'submit'"
      [size]="'big'"
      [label]="'Créer le nouveau mois'"
    ></app-button>
  </div>
</form>
}

<!-- 
  ##################### Modal outflows (step 2) #####################
   -->

@if(outflowsFormGroup !== undefined) {
<app-sliding-modal
  [isOpen]="isOutflowsModalOpen"
  (close)="closeOutflowsModal()"
>
  <form [formGroup]="outflowsFormGroup" (ngSubmit)="submitOutflowModal($event)">
    <div class="modal-container">
      <!-- label -->
      <app-input-text
        [formGroup]="outflowsFormGroup"
        formControlName="label"
        [required]="true"
      ></app-input-text>

      <!-- amount -->
      <app-input-number
        [formGroup]="outflowsFormGroup"
        formControlName="amount"
        [required]="true"
        [step]="'0.01'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [label]="'Supprimer'"
          [variant]="'danger'"
          (click)="deleteOutflow()"
        ></app-button>
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [label]="'Modifier'"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
}

<!-- 
  ##################### Modal weekly budgets (step 3) #####################
   -->

@if(weeklyBudgetsFormGroup !== undefined) {
<app-sliding-modal
  [isOpen]="isWeeklyBudgetsModalOpen"
  (close)="closeWeeklyBudgetsModal()"
>
  <form
    [formGroup]="weeklyBudgetsFormGroup"
    (ngSubmit)="submitWeeklyBudgetModal($event)"
  >
    <div class="modal-container">
      <!-- name -->
      <app-input-text
        [formGroup]="weeklyBudgetsFormGroup"
        formControlName="name"
        [required]="true"
      ></app-input-text>

      <!-- initial balance -->
      <app-input-number
        [formGroup]="weeklyBudgetsFormGroup"
        formControlName="initialBalance"
        [required]="true"
        [step]="'0.01'"
      ></app-input-number>

      <div class="modal-container__actions">
        <app-button
          class="login-page__login-button"
          [type]="'submit'"
          [label]="'Modifier'"
        ></app-button>
      </div>
    </div>
  </form>
</app-sliding-modal>
}
