@import "../../../../styles/variables";
@import "../../../../styles/input";

.input-number {
  &__input {
    @extend %input;

    &--middle {
      height: 35px;
    }

    &--big {
      height: 55px;
    }
  }
  &__error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
}
