<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->@if(plusOpen
&& current) {
<div class="menu-footer-add__links-container" (click)="toggle()">
  <div
    class="menu-footer-add__links"
    [ngClass]="{ 'menu-footer-add__links--fade-in-up': plusOpen }"
  >
    <button
      class="menu-footer-add-links__link"
      (click)="navigateToExpenses($event)"
      type="button"
    >
      <i
        class="menu-footer-add-links-link__icon fa-solid fa-basket-shopping"
      ></i>
      <span class="menu-footer-add-links-link__label">Ajouter une dépense</span>
    </button>
    <button
      class="menu-footer-add-links__link"
      (click)="navigateToOutflows($event)"
      type="button"
    >
      <i
        class="menu-footer-add-links-link__icon fa-solid fa-money-bill-transfer"
      ></i>
      <span class="menu-footer-add-links-link__label"
        >Ajouter une sortie mensuelle</span
      >
    </button>
    <button class="menu-footer-add-links__link" type="button">
      <i
        class="menu-footer-add-links-link__icon fa-solid fa-calendar-xmark"
      ></i>
      <span class="menu-footer-add-links-link__label"
        >Archiver
        <span class="menu-footer-add-links-link__label--capitalize">{{
          currentMonthDate | dateNormalize
        }}</span></span
      >
    </button>
    <app-divider></app-divider>
    <button
      class="menu-footer-add-links__link"
      (click)="navigateToMonthCreation()"
      type="button"
    >
      <i class="menu-footer-add-links-link__icon fa-solid fa-calendar-plus"></i>
      <span class="menu-footer-add-links-link__label"
        >Créer un nouveau mois</span
      >
    </button>
    <button class="menu-footer-add-links__link" type="button">
      <i class="menu-footer-add-links-link__icon fa-solid fa-box-archive"></i>
      <span class="menu-footer-add-links-link__label"
        >Accéder aux mois archivés</span
      >
    </button>
    <app-divider></app-divider>
    <button
      class="menu-footer-add-links__link menu-footer-add-links__link--danger"
      type="button"
    >
      <i
        class="menu-footer-add-links-link__icon fa-solid fa-right-from-bracket"
      ></i>
      <span class="menu-footer-add-links-link__label">Se déconnecter</span>
    </button>
  </div>
</div>
<div class="backdrop"></div>
} @if (displayLoader) { <app-loader></app-loader> } @if (current !== null) {
<header class="header">
  <div class="header__month">
    <button
      class="header-month__navigation"
      [disabled]="isCurrentMonthTheFirst()"
      (click)="getPreviousMonth()"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="header-month__title">{{
      current.date.toString() | dateNormalize
    }}</span>
    <button
      class="header-month__navigation"
      [disabled]="isCurrentMonthTheLast()"
      (click)="getNextMonth()"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <div class="header__info">
    <div class="header-info__balance">
      <span class="header-info-balance__title">Solde courant :</span>
      <span class="header-info-balance__amount">{{
        current.dashboard.account.currentBalance | currency : "EUR"
      }}</span>
    </div>
    <div class="header-info__balance">
      <span class="header-info-balance__title">Solde prévisionnel :</span>
      <span class="header-info-balance__amount">{{
        current.dashboard.account.forecastBalance | currency : "EUR"
      }}</span>
    </div>
  </div>
  <div class="header__menu">
    <button
      type="button"
      class="header-menu__item"
      [routerLink]="['/home/expenses']"
      [routerLinkActive]="'header-menu__item--active'"
    >
      <i class="fa-solid fa-basket-shopping"></i>
    </button>
    <button
      type="button"
      class="header-menu__item"
      [routerLink]="['/home/outflows']"
      [routerLinkActive]="'header-menu__item--active'"
    >
      <i class="fa-solid fa-money-bill-transfer"></i>
    </button>
    <button
      (click)="toggle()"
      class="menu-footer-add__plus"
      [ngClass]="{ 'menu-footer-add__plus--rotate': plusOpen }"
      type="button"
      aria-label="Afficher le menu de création"
    >
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>
</header>
}
<div class="content">
  <router-outlet />
</div>
@if(!current) { pas de mois } @if(!currentOutflows()?.length) { pas de sorties
mensuelles }
<!-- } @else { pas de mois } -->
