<app-modal [modalOpen]="openMenuModal" (click)="toggle($event)">
  @if(current) {
  <button
    class="menu-footer-add-links__link"
    (click)="navigateToExpenses($event)"
    type="button"
  >
    <i class="menu-footer-add-links-link__icon fa-solid fa-basket-shopping"></i>
    <span class="menu-footer-add-links-link__label">Ajouter une dépense</span>
  </button>
  <button
    class="menu-footer-add-links__link"
    (click)="navigateToOutflows($event)"
    type="button"
  >
    <i
      class="menu-footer-add-links-link__icon fa-solid fa-money-bill-transfer"
    ></i>
    <span class="menu-footer-add-links-link__label"
      >Ajouter une sortie mensuelle</span
    >
  </button>
  <app-divider></app-divider>
  <button
    class="menu-footer-add-links__link menu-footer-add-links__link--danger"
    type="button"
    [disabled]="archiveLoading"
    (click)="archiveCurrentMonth($event)"
  >
    @if(archiveLoading) {
    <ng-container *ngTemplateOutlet="loader"></ng-container>
    } @else {
    <i class="menu-footer-add-links-link__icon fa-solid fa-box-archive"></i>
    <span class="menu-footer-add-links-link__label"
      >Archiver
      <span class="menu-footer-add-links-link__label--capitalize">{{
        currentMonthDate | dateNormalize
      }}</span></span
    >}
  </button>
  <app-divider></app-divider>
  }
  <button
    class="menu-footer-add-links__link"
    (click)="navigateToMonthCreation()"
    type="button"
  >
    <i class="menu-footer-add-links-link__icon fa-solid fa-calendar-plus"></i>
    <span class="menu-footer-add-links-link__label">Créer un nouveau mois</span>
  </button>
  <button
    class="menu-footer-add-links__link"
    type="button"
    (click)="navigateToArchivedMonths($event)"
  >
    <i class="menu-footer-add-links-link__icon fa-solid fa-box-archive"></i>
    <span class="menu-footer-add-links-link__label"
      >Accéder aux mois archivés</span
    >
  </button>
  <app-divider></app-divider>
  <button
    class="menu-footer-add-links__link menu-footer-add-links__link--danger"
    type="button"
    (click)="logout($event)"
  >
    <i
      class="menu-footer-add-links-link__icon fa-solid fa-right-from-bracket"
    ></i>
    <span class="menu-footer-add-links-link__label">Se déconnecter</span>
  </button>
</app-modal>
@if (displayLoader) { <app-loader></app-loader> }
<header class="header">
  @if (current !== null) {
  <div class="header__month">
    <button
      class="header-month__navigation"
      [disabled]="isCurrentMonthTheFirst()"
      (click)="getPreviousMonth()"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="header-month__title">{{
      current.date.toString() | dateNormalize
    }}</span>
    <button
      class="header-month__navigation"
      [disabled]="isCurrentMonthTheLast()"
      (click)="getNextMonth()"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <div class="header__info">
    <div class="header-info__balance">
      <span class="header-info-balance__title">Solde courant :</span>
      <span class="header-info-balance__amount">{{
        current.dashboard.account.currentBalance | currency : "EUR"
      }}</span>
    </div>
    <div class="header-info__balance">
      <span class="header-info-balance__title">Solde prévisionnel :</span>
      <span class="header-info-balance__amount">{{
        current.dashboard.account.forecastBalance | currency : "EUR"
      }}</span>
    </div>
  </div>
  }
  <div class="header__menu">
    <button
      type="button"
      class="header-menu__item"
      [routerLink]="['/home/expenses']"
      [routerLinkActive]="'header-menu__item--active'"
    >
      <i class="fa-solid fa-basket-shopping"></i>
    </button>
    <button
      type="button"
      class="header-menu__item"
      [routerLink]="['/home/outflows']"
      [routerLinkActive]="'header-menu__item--active'"
    >
      <i class="fa-solid fa-money-bill-transfer"></i>
    </button>
    <button
      (click)="toggle($event)"
      class="menu-footer-add__plus"
      [ngClass]="{ 'menu-footer-add__plus--rotate': openMenuModal }"
      type="button"
      aria-label="Afficher le menu de création"
    >
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>
</header>
<div class="content">
  @if(!current) { <app-info>Aucun mois pour le moment 😁</app-info> } @else
  {<router-outlet />}
</div>

<ng-template #loader>
  <span class="menu-footer-add-links-link__loader">
    <svg
      width="30"
      height="30"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <style>
        .spinner_nOfF {
          animation: spinner_qtyZ 2s cubic-bezier(0.36, 0.6, 0.31, 1) infinite;
          fill: currentColor;
        }
        .spinner_fVhf {
          animation-delay: -0.5s;
          fill: currentColor;
        }
        .spinner_piVe {
          animation-delay: -1s;
          fill: currentColor;
        }
        .spinner_MSNs {
          animation-delay: -1.5s;
          fill: currentColor;
        }
        @keyframes spinner_qtyZ {
          0% {
            r: 0;
          }
          25% {
            r: 3px;
            cx: 4px;
          }
          50% {
            r: 3px;
            cx: 12px;
          }
          75% {
            r: 3px;
            cx: 20px;
          }
          100% {
            r: 0;
            cx: 20px;
          }
        }
      </style>
      <circle class="spinner_nOfF" cx="4" cy="12" r="3" />
      <circle class="spinner_nOfF spinner_fVhf" cx="4" cy="12" r="3" />
      <circle class="spinner_nOfF spinner_piVe" cx="4" cy="12" r="3" />
      <circle class="spinner_nOfF spinner_MSNs" cx="4" cy="12" r="3" />
    </svg>
  </span>
</ng-template>
